export WORKSPACE="$(pwd)"
export BIN="$WORKSPACE/.bin"
export PATH="$WORKSPACE/.bin:$PATH"
export IMAGE="ghcr.io/kxddry/gost-env"

# Source the .env file containing git credentials
#
# .env should look like this:
# GIT_USERNAME="<username>"
# GIT_PASSWORD="<password>"
# WOODPECKER_AGENT_SECRET="<secret>"
# GIT_NAME="<name for git commits>"
#
source "$BIN/.env"

# Source the variables file for the scripts
source "$BIN/variables"

if [ -z "$GIT_USERNAME" ] || [ -z "$GIT_PASSWORD" ] || [ -z "$WOODPECKER_AGENT_SECRET" ] || [ -z "$GIT_NAME" ]; then
    echo "GIT_USERNAME, GIT_PASSWORD, WOODPECKER_AGENT_SECRET, and GIT_NAME must be set in $BIN/.env"
    touch "$BIN/.env"
    exit 1
fi

# set the default platform for docker to amd64
# this is needed because gitea plugins, as well as the entire environment, run on amd64
export DOCKER_DEFAULT_PLATFORM="linux/amd64"


# Make the binaries executable
chmod +x "$BIN/git" # git
chmod +x "$BIN/start" # start gost-git container
chmod +x "$BIN/stop" # stop gost-git container
chmod +x "$BIN/agent" # woodpecker agent
chmod +x "$BIN/agentd" # woodpecker agent daemon

# set a flag to indicate that the setup is complete
export SETUP_COMPLETE=true
